<!-- user_profile.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1 class="my-4">User Profile</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="/static/images/profile_picture.jpg" alt="Profile Picture" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h3>Name: John Doe</h3>
      <p>Email: john.doe@example.com</p>
      <p>Role: User</p>
      <a href="#" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>
</div>
</body>
</html>